<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.newpc.myapplication">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GP Service"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".AlarmReceiver"/>
        <activity android:name=".Welcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomeScreen" />
        <activity android:name=".AppointmentScreen" />
        <activity android:name=".BookingAppointment" />
        <activity android:name=".ViewAvailableDate" />
        <activity android:name=".ViewAvailableTime" />
        <activity android:name=".ViewAppointment" />
        <activity android:name=".NoAppointment" />
        <activity android:name=".CancelAppointment" />
        <activity android:name=".PrescriptionDate" />
        <activity android:name=".ViewPrescription" />
        <activity android:name=".ViewHIstory" />
        <activity android:name=".HistoryDate" />
        <activity android:name=".Record" />
        <activity android:name=".PatientInfo" />
        <activity android:name=".PatientInfoEdit" />
        <activity android:name=".RegularAlarmActivity" />
        <activity android:name=".AppointmentAlarmActivity" />
        <activity android:name=".AlarmActivity"></activity>
    </application>


</manifest>